<nst:root xmlns:nst="http://nest.sourceforge.net/">
    <nst:attribute name="attr1" />
    <nst:attribute name="attr2" defaultValue="foo" />
    <nst:attribute name="attr3" type="object" />
</nst:root>
