<body xmlns:test="urn:nsttl:TestTaglib">
    <div class="rounded">

        <test:roundedContainer>
            <div id="mainBody">
                <div id="rightpane">
                    ${#processBody#}
                        </div>
            </div>
        </test:roundedContainer>
    </div>
</body>