<body xmlns:test="urn:nsttl:TestPackage_TestTaglib" xmlns:nst="http://nest.sourceforge.net/">
    <div class="rounded">

        <test:roundedContainer>
            <div id="mainBody">
                <div id="rightpane">
                    <nst:processBody />
                        </div>
            </div>
        </test:roundedContainer>
    </div>
</body>
