<b xmlns:test="urn:nsttl:TestPackage_TestTaglib" xmlns:nst="http://nest.sourceforge.net/">
    <span id="nestedSpan">
        <test:wrappableTagFile id="nestedinnertag">
            ${#processBody#}
            <nst:processBody />
        </test:wrappableTagFile>
    </span>
</b>
