<b xmlns:test="urn:nsttl:TestPackage_TestTaglib" >
    <span id="nestedSpan">
        <test:wrappableTagFile id="nestedinnertag">
            ${#processBody#}
        </test:wrappableTagFile>
    </span>
</b>
