<div xmlns:test="urn:nsttl:TestPackage_TestTaglib" xmlns:nst="http://nest.sourceforge.net/">
    <test:roundedContainer _replace="true">
        <span class="footer">(c)2008</span>
    </test:roundedContainer>
    <div id="rightPane">
        <nst:processBody />
    </div>
</div>
