<body xmlns:test="urn:nsttl:TestPackage_TestTaglib" 
    xmlns:nst="http://nest.sourceforge.net/"
    xmlns:c="urn:nsttl:HTML_Template_Nest_Taglib_Standard">
    <nst:attribute name="nohelppane" />
    <div class="rounded">

        <test:roundedContainer>
            <div id="mainBody">
                <c:if test="nohelppane != 'false'">
                    <test:helppane _replace="true" />
                </c:if>
                
                <div id="rightpane">
                    <nst:processBody />
                        </div>
            </div>
        </test:roundedContainer>
    </div>
</body>
